@page "{handler}"
@model KindPageModel
@{
    ViewData["Title"] = "Home page";
}
@section Stylesheet{
    <style type="text/css">
        @@media (min-width: 576px) {
            .card-columns {
                column-count: 4;
            }
        }

        @@media (min-width: 992px){
            .card-columns {
                column-count: 6;
            }
        }

        body{
            font-size:13px;
        }

        .lar a{
            text-decoration:none;
            color:Inherit
        }

        .lar .card-body:hover{
            background-color:#0077F6 !important;
            color:#fff !important;
        }
    </style>
}

@section Breadcrumb{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Index" asp-area="">首页</a></li>
            <li class="breadcrumb-item active" aria-current="page">大类</li>
        </ol>
    </nav>
}
<div class="card-columns lar">
@foreach (var kind in Model.Kinds)
{
    var commonly = (new int[] { 11, 13 }).Any(x => x == kind.KindId);
    <div class="card border-secondary text-center">
        <a asp-page="/Index">
        <div class="card-body @if(commonly){@("bg-secondary text-white")}">
            <h5 class="card-title">@kind.KindName</h5>
            <p class="card-text">@kind.KindDescription</p>
        </div>
        </a>
        <div class="card-footer"><small class="text-muted">最后收样 3 mins ago</small></div>
    </div>
}
</div>
