@page "{handler}"
@model KindPageModel
@{
    ViewData["Title"] = "大类";
}
@section Stylesheet{
    <link rel="stylesheet" href="~/css/lar.th.css" />
}

@section Breadcrumb{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb lar-breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Index" asp-area="">首页</a></li>
            <li class="breadcrumb-item active" aria-current="page">大类</li>
        </ol>
    </nav>
}
<div class="card-columns lar">
@foreach (var kind in Model.Kinds)
{
    var commonly = (new int[] { 11, 13 }).Any(x => x == kind.KindId);
    <div class="card border-secondary text-center">
        <a class="lar-a" asp-page="/Item" asp-page-handler="@kind.KindId" asp-area="Consign">
        <div class="card-body @if(commonly){@("bg-secondary text-white")}">
            <h5 class="card-title">@kind.KindName</h5>
            <p class="card-text">@kind.KindDescription</p>
        </div>
        </a>
        <div class="card-footer"><small class="text-muted">最后收样 3 mins ago</small></div>
    </div>
}
</div>
