@model GangJinViewModel
@using th.onlineconsign.Components
<div class="form-row">
    <div class="col-12">
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="Gj_RuPiHao">炉批号</label>
            </div>
            <input type="text" class="form-control" id="Gj_RuPiHao" placeholder="请输入" aria-label="炉批号">
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-4">
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="JianCeShuLiang">拉伸数量</label>
            </div>
            <input type="number" class="form-control" id="JianCeShuLiang" min="1" step="1" placeholder="请输入" aria-label="拉伸数量" onblur="value=value.replace(/^(0+)|[^\d]+/g,'')">
        </div>
    </div>
    <div class="col-4">
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="Gj_WanQuShuLiang">弯曲数量</label>
            </div>
            <input type="number" class="form-control" id="Gj_WanQuShuLiang" min="1" step="1" placeholder="请输入" aria-label="弯曲数量" onblur="value=value.replace(/^(0+)|[^\d]+/g,'')">
        </div>
    </div>
    <div class="col-4">
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="GJ_BianMiaoBiaoShi">表面标识</label>
            </div>
            <img src="" alt="" id="Gj_BianMiaoBiaoShi_Image" class="img-thumbnail">
            <input type="text" for="GJ_BianMiaoBiaoShi" class="form-control" id="product_Symbol" placeholder="" aria-label="表面标识" readonly>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-12">
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="productorName">许可证及生产厂家</label>
            </div>
            <select class="custom-select custom-select-sm" id="Gj_Xk_No" disabled>
                <option selected>请选择...</option>
            </select>
            <input type="text" class="form-control w-30" id="xlzProductorName" 
                placeholder="生产厂家名称" aria-label="生产厂家" readonly>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-12">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text fs0875">样品备注</span>
            </div>
            <textarea class="form-control fs0875" id="memo" placeholder="请输入" aria-label="样品备注"></textarea>
        </div>
    </div>
</div>