<div class="form-row">
    <div class="col-12">
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="Gj_RuPiHao">炉批号</label>
            </div>
            <input type="text" class="form-control" id="Gj_RuPiHao" placeholder="请输入" aria-label="炉批号">
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-12">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text fs0875">样品备注</span>
            </div>
            <textarea class="form-control fs0875" id="Memo" placeholder="请输入" aria-label="样品备注"></textarea>
        </div>
    </div>
</div>