@media (min-width: 576px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 992px){
    .card-columns {
        column-count: 6;
    }
}

body{
    font-size:13px;
}

.lar a{
    text-decoration:none;
    color:Inherit
}

.lar .card-body:hover{
    background-color:#ccc !important;
    color:#fff !important;
}

.lar .scroll-checkbox-list-h100 {
    height: 100px; 
    overflow-y: scroll;
    padding: 0.5rem
}


.lar .list-frame-title{
    color:#000;
    border:solid #CED4DA 1px;
    border-bottom-width: 0;
    background-color:#E9ECEF;
    font-weight: normal;
    padding: 5px;
}

.lar .w-30 {
    width:30% !important;
}